$fuchsia: #ff0080;
$purple1: #9733ee;
$purple2: #7928ca;

.btn-grad {
  background-image: linear-gradient(to right, $purple1 0%, $purple1 31%, $fuchsia 100%);
  outline: none;
}

::selection {
  color: white;
  background-color: $purple1;
}

.btn-grad {
  color: white;
  font-weight: bolder;
  padding: 12px 22px 12px 22px;
  font-size: 1.6em;
  border-radius: 12px;
  font-style: italic;

  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
}

.btn-grad:hover {
  background-position: right center;
}
